In [1]:
import pandas as pd
import requests
import string

In [2]:
# Import data
data_init = pd.read_csv('data/nlp-data.csv')

In [3]:
# Dataframe containg the data that our team created
data_init.head()

,Text Command,Topic,Identifier,Action,One Hot Encoded Topic,One Hot Encoded Action
0,Assign completed status to X,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
1,Move X to completed,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
2,X completed,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
3,Completed X,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
4,Started working on X,Task,X,In Progress,"[1,0,0]","[0,1,0,0,0]"

In [159]:
# Script for creating new data by substituting words for their synonyms. Only the words which are not included
# in the identifier are eligible for being replaced
def aug_data(df):
    #new dataframe for the new sentences
    added_data = pd.DataFrame(columns=list(df.columns))
    index = len(df)
    for i in range(len(df.index)):
        identifier = df.iloc[i][2]
        text = df.iloc[i][0]
        sentence_lst = text.split()
        # identifier_lst = identifier.split()
        
        # List of additional words that translating did not make sense
        identifier_lst = ['a', 'an']
        identifier_lst.append(identifier.split()[0])

        for j in range(len(sentence_lst)):
            word = sentence_lst[j]
            if word not in identifier_lst:
                word = word.lower()
                
                # max=X is the number of synonyms you want for each non-identifier word in the cmd
                api_url = 'https://api.datamuse.com/words?rel_syn={0}&max=5'.format(word)
                word_synonyms = requests.get(api_url)
                word_synonyms = word_synonyms.json()
                
                for k in range(len(word_synonyms)):
                    new_sentence_lst = sentence_lst[:j]+[word_synonyms[k]['word']]+sentence_lst[j+1:]
                    s = " "
                    new_sentence = s.join(new_sentence_lst)
                    added_data.loc[index] = [new_sentence] + list(df.loc[i][1:])
                    index += 1
    augmented_data = pd.concat([df,added_data])
    return augmented_data

In [160]:
# Limiting data to just completed tasks for API exploration purposes
data_action5 = data_init[data_init.Action == 'Completed'].reset_index(drop=True)
data_action5

,Text Command,Topic,Identifier,Action,One Hot Encoded Topic,One Hot Encoded Action
0,Assign completed status to X,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
1,Move X to completed,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
2,X completed,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
3,Completed X,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
4,X is completed,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
5,X is now completed,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
6,Finally completed X,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
7,Completed Xtime earlier,Task,Xtime,Completed,"[1,0,0]","[0,0,0,0,1]"
8,Completed Xtime yesterday,Task,Xtime,Completed,"[1,0,0]","[0,0,0,0,1]"
9,Finished with Y,Task,Y,Completed,"[1,0,0]","[0,0,0,0,1]"
10,Xverb complete,Task,Xverb,Completed,"[1,0,0]","[0,0,0,0,1]"
11,Xverb was completed,Task,Xverb,Completed,"[1,0,0]","[0,0,0,0,1]"
12,Completed a X,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
13,Completed an X,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"

In [161]:
# Running the script for just the first X rows
data_action5_aug = aug_data(data_action5.iloc[0:5])

In [162]:
data_action5_aug

,Text Command,Topic,Identifier,Action,One Hot Encoded Topic,One Hot Encoded Action
0,Assign completed status to X,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
1,Move X to completed,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
2,X completed,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
3,Completed X,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
4,X is completed,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
5,put completed status to X,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
6,attribute completed status to X,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
7,ascribe completed status to X,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
8,delegate completed status to X,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
9,designate completed status to X,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
10,Assign complete status to X,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
11,Assign accomplished status to X,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
12,Assign realized status to X,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
13,Assign consummated status to X,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
14,Assign completed condition to X,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
15,Assign completed position to X,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
16,run X to completed,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
17,go X to completed,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
18,affect X to completed,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
19,strike X to completed,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
20,act X to completed,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
21,Move X to complete,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
22,Move X to accomplished,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
23,Move X to realized,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
24,Move X to consummated,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
25,X complete,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
26,X accomplished,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
27,X realized,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
28,X consummated,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
29,complete X,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
30,accomplished X,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
31,realized X,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
32,consummated X,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
33,X is complete,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
34,X is accomplished,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
35,X is realized,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
36,X is consummated,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"

In [ ]:
new_data = aug_data(data_init)

In [29]:
new_data

,Text Command,Topic,Identifier,Action,One Hot Encoded Topic,One Hot Encoded Action
0,Assign completed status to X,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
1,Move X to completed,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
2,X completed,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
3,Completed X,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
4,Started working on X,Task,X,In Progress,"[1,0,0]","[0,1,0,0,0]"
...,...,...,...,...,...,...
23,Create X,Task,X,To Do,"[1,0,0]","[1,0,0,0,0]"
24,Completed a X,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
25,Completed an X,Task,X,Completed,"[1,0,0]","[0,0,0,0,1]"
26,Create a X,Task,X,To Do,"[1,0,0]","[1,0,0,0,0]"
27,Create an X,Task,X,To Do,"[1,0,0]","[1,0,0,0,0]"

In [15]:
pd.set_option("display.max_rows", None)